@charset "utf-8";




/*  header   */

		.header .nav { list-style-type: none;
			margin: 0;
			padding: 0;
			width: 250px;
		}

		.header .nav li {
			width: 300px;
		}
		.header .nav li a {
			display: inline;
			color: #000000;
			text-decoration: none;
			font-weight: medium;
			line-height: 56.8px;
			width: 300px;
		}

		.header .nav li a:hover{
			color: #f6c301;
		}



		.header .logo {
			position: absolute;
			bottom: 90px;
			line-height: 28.8px;
			 }


.header {
	position: fixed;
	margin-left: 60px;
	margin-top: 40px;
	position: fixed;
	height: 100%;
	width: 500px;

}


/*    main    */

.ctn {
	position: relative;
	width: 1180px;
	height: 785px;
	background-image:url( "../images/main.png");
	float: right;
	margin-top: 43px;
	margin-right: 60px; }


/*    about    */


.ctn_2 {
	position: relative;
	margin-left: 370px;
	padding-top: 60px;
}

.ctn_2 img {
	display: inline-block;
}

.ctn_2 h1 {
	font-size: 45px;
	font-weight: 400;
}

.ctn_2 p {
	font-size: 14px;
	line-height: 28.8px;
	padding-bottom: 38px;
	font-weight: 600;
}

.ctn_2 .ctn_2_1 {
	padding-top: 430px;
}


.ctn_2 .ctn_2_2 {
	padding-top: 230px;
	padding-bottom: 100px;
}


.ctn_2 .ctn_2_2 p {
	display: block;
	z-index: 3000;
}

.ctn_2 .ctn_2_2 div {
	width: 100%;
	height: 500px;
	background-image: url(../images/home.png);
}



/*  share   */

.ctn_shr {
	width: 1430px;
	height: 700px;
	margin-left: 370px;
	padding-top: 60px;
	float: left;
}

.ctn_shr div {
	display: inline-block;
}

.ctn_shr .shr_1 {
	width: 345px;
	padding-left: 30px;
	height: 838px;
	background: url("../images/map.png") no-repeat;
	position: relative;
}
.ctn_shr .shr_1:hover{
	background:url("../images/map_c.png") no-repeat;
}

.ctn_shr .shr_2 {
	width: 317px;
	padding-left: 30px;
	height: 450px;
	background-image: url("../images/shr_1c.png");
}

.ctn_shr .shr_2:hover {background-image: url("../images/shr_1.png"); }
.ctn_shr .shr_3:hover {background-image: url("../images/shr_2c.jpg"); 
background-size: 130%;}
.ctn_shr .shr_4:hover {background-image: url("../images/shr_3c.png"); }
.ctn_shr .shr_5:hover {background-image: url("../images/shr_4c.png"); }



.ctn_shr .shr_3 {
	width: 317px;
	padding-left: 30px;
	height: 450px;
	background-image: url("../images/shr_2.png");
	position: relative;
}

.ctn_shr .shr_4 {
	width: 317px;
	padding-left: 30px;
	height: 450px;
	background-image: url("../images/shr_3.png");
	position: relative;
}
.ctn_shr .shr_5 {
	width: 1023px;
	padding-left: 30px;
	height: 383px;
	background-image: url("../images/shr_4.png");
	background-size: 115%;
	position: relative;
}

.ctn_shr .shr_6 {
	position: absolute;
	padding-left:-20px;
	top: 67px;
	left:730px;

}


/* press work */


.ctn_4 {
	position: relative;
	margin-left: 370px;
	padding-top: 60px;
}


.ctn_4 div{ 
	left: 370px;
	display: inline-block;
	width: 450px;
	height: 450px;
	background-color: blue;
	margin-top: 86px;
}




/*  map  */


.ctn_5 {
	position: relative;
	margin-left: 320px;
	padding-top: 60px;
}


.ctn_5 .back {
	position: absolute;
	top:100px;
	left: 0px;
	width: 22px;
}

#map {
	width: 1400px;
	height: 620px;
	margin-left: 60px;
}

.ctn_5 h1 {
	font-size: 45px;
	font-weight: 400;
	margin-left: 50px;
}

.ctn_5 p {
	font-size: 14px;
	margin-left: 60px;
	font-weight: 600px;
}